include ../assets/icon-mixin
include ./history_introduction_mixin
include ./webcomponents_alike_frameworks_mixin
include ./framework_trends_over_time_mixin
mixin history()
    +history-introduction()
    +framewor-trends-over-time()
    +webcomponents-alike-frameworks()
