mixin webcomponents-alike-frameworks()
  section
    h3 Today
    p The components are build with:
    +blockquote-section('angular', 'angular_logo')
      | HTML enhanced for web apps!
    +blockquote-section('ember.js')
      | A JavaScript framework for creating ambitious web applications
    +blockquote-section('knockout')
      | Knockout makes it easier to create rich, responsive UIs with JavaScript
    +blockquote-section('todomvc')
      | Helping you select an MV* framework - Todo apps for React.js, Ember.js, Angular, and many more
    +blockquote-section('spine')
      | Lightweight MVC library for building JavaScript applications
    +blockquote-section('vue')
      | A progressive, incrementally-adoptable JavaScript framework for building UI on the web.
    +blockquote-section('polymer')
      | Build modern apps using web components
    +blockquote-section('react')
      | A declarative, efficient, and flexible JavaScript library for building user interfaces.
    +blockquote-section('matreshka')
      | Matreshka.js framework
    +blockquote-section('aurelia / framework')
      | The aurelia framework brings together all the required core aurelia libraries into a ready-to-go
      | application-building platform.
    +blockquote-section('nuclear-js')
      | Reactive Flux built with ImmutableJS data structures. Framework agnostic.
    +blockquote-section('== Insert framework here ==')
