mixin polyfills()
  section
    h3 Can I use webcomponents today ?
  section 
    h3 Template
    +caniuse-section('template')
  section 
    h3 Shadow Dom
    +caniuse-section('shadowdomv1')
  section
    h3 Custom Elements v1
    +caniuse-section('custom-elementsv1')
  section
    h3 Almoust yes
    p Polymer Project was separated into webcomponentsjs and polymer where webcomponetsjs is a polyfill and polymer is the library around it
  section
    h3 Known issues with the polyfill
    ul
      li.fragment.fade-in ShadowDOM CSS is not encapsulated out of the box
      li.fragment.fade-in Custom element's constructor property is unreliable
      li.fragment.fade-in Contenteditable elements do not trigger MutationObserver
      li.fragment.fade-in ShadyCSS: :host(.zot:not(.bar:nth-child(2))) doesn't work
