<template>
    <article>
        <header>
            <h2><!-- Title --></h2>
            <p><!-- Summary --></p>
        </header>
        <section>
            <h3><!-- Images --></h3>
        </section>
        <footer>
            <button>Buy now!</button>
        </footer>
    </article>
</template>
