<body>
  ...
  <article>
      <header>
          <h2>Sandals</h2>
          <p><!-- Summary --></p>
      </header>
      <section>
          <h3><!-- Images --></h3>
      </section>
      <footer>
          <button>Buy now!</button>
      </footer>
  </article>
</body>
