mixin refereces()
  section
    h2 References
    section
      | History
      br
      a(rel='nofollow', target='_blank', href='https://hacks.mozilla.org/2015/06/the-state-of-web-components/') https://hacks.mozilla.org/2015/06/the-state-of-web-components/
      br
      a(rel='nofollow', target='_blank', href='https://www.w3.org/standards/techs/components#drafts') https://www.w3.org/standards/techs/components#drafts
      br
      a(rel='nofollow', target='_blank', href='https://stackoverflow.com/questions/40323180/what-are-the-differences-between-custom-elements-v0-and-v1')
        | https://stackoverflow.com/questions/40323180/what-are-the-differences-between-custom-elements-v0-and-v1
      br
    section
      | WebComponents ware introduced by Axel Russell in 2011
      br
      a(rel='nofollow', target='_blank', href='https://fronteers.nl/congres/2011/sessions/web-components-and-model-driven-views-alex-russell')
        | https://fronteers.nl/congres/2011/sessions/web-components-and-model-driven-views-alex-russell
      br
      br
    section
      | Proxy Object
      br
      a(rel='nofollow', target='_blank', href='https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Proxy')
        | https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Proxy

    section
      p Documentation :
      ul
        li 
          a(rel='nofollow', target='_blank', href='https://html.spec.whatwg.org/multipage/custom-elements.html') whatwg spec custom-elements
        li 
          a(rel='nofollow', target='_blank', href='https://www.w3.org/TR/custom-elements/#conformance') w3 spec custom-elements
        li 
          a(rel='nofollow', target='_blank', href='https://github.com/shawnbot/custom-elements') https://github.com/shawnbot/custom-elements
        li 
          a(rel='nofollow', target='_blank', href='https://developers.google.com/web/fundamentals/web-components/customelements') https://developers.google.com/web/fundamentals/web-components/customelements
    section
      | Polymer and WebComponents 
      br
      br
      | Polymer 3.0
      br
      a(rel='nofollow', target='_blank', href='https://www.youtube.com/watch?v=JH6jEcLxJEI&t=1170s') https://www.youtube.com/watch?v=JH6jEcLxJEI&t=1170s
    section
      br
      | Current status:

      br
      | Chrome / Chromium / Blink engine: 
      a(rel='nofollow', target='_blank', href='http://chromestatus.com') chromestatus.com

      br
      | Firefox: 
      a(rel='nofollow', target='_blank', href='http://platform-status.mozill.org') platform-status.mozill.org

      br
      | Safari / WebKit: 
      a(rel='nofollow', target='_blank', href='http://webkit.org/status/') webkit.org/status/

      br
      | Microsoft Edge: 
      a(rel='nofollow', target='_blank', href='http://status.microsoftedge.com') status.microsoftedge.com
