include ../assets/icon-mixin

mixin introduction()
    section
        h1 Native Web Components
        section.center
            +icon('webcomponents_logo')
        section
            br
            blockquote
                strong Native
                | : Something running on a computer natively means that it is running without any external layer
                | requiring fewer software layers.
        section
            blockquote
                strong Web
                |  as in "
                em Web Browser
                | ".
        section
            blockquote
                strong Component
                | : a part or element of a larger whole, especially a part of a machine or vehicle.

