mixin custom-elements-basic-usage()
  section
    h3 Custom Elements
    +blockquote-section()
      | Custom Elements is a capability for creating your own custom HTML elements.
    section
      p Two distinct types of custom elements can be defined:
        ol
          li An autonomous custom element
          li A customized built-in element
    section
      +code-sample('custom_elements/custom_elements_js_declaration.js')
    section
      +code-sample('custom_elements/custom_elements_usage.js')
    section
      +code-sample('custom_elements/custom_elements_usage.html')
    section
      +caniuse-section('custom-elementsv1')
