mixin custom-elements-lifecycle-callbacks()
  section
    h3 Custom Element Lifecycle callbacks
    section
      +code-sample('custom_elements/custom_elements_lifecycle_constructor.js')
    section
      +code-sample('custom_elements/custom_elements_lifecycle_connectedCallback.js')
    section
      +code-sample('custom_elements/custom_elements_lifecycle_attributeChangedCallback.js')
    section
      +code-sample('custom_elements/custom_elements_lifecycle_disconnectedCallback.js')
    section
      +code-sample('custom_elements/custom_elements_lifecycle_adoptedCallback.js')
