include ./summary_mixin
include ./custom_elements_basic_usage_mixin
include ./custom_elements_lifecycle_callbacks_mixin
mixin web-components-ingredients()
  +webcomponents-ingredients-summary()
  section
    h3 Template
    +blockquote-section()
      | The HTML `&lt;template&gt;` element is a mechanism for holding client-side content that is not to be
      | rendered when a page is loaded but may subsequently be instantiated during runtime using JavaScript.
    section
      +code-sample('template/template_sample.html')
    section
      +code-sample('template/template_js_usage.js')
    section
      +code-sample('template/template_result.html')
  section
    h3 Shadow DOM
    +blockquote-section()
      | Shadow DOM provides encapsulation for DOM and CSS
    section
      +code-sample('shadow_dom/shadow_dom_initial.html')
    section
      +code-sample('shadow_dom/shadow_dom_js_usage.js')
    section
      +code-sample('shadow_dom/shadow_dom_result.html')
  +custom-elements-basic-usage()
  +custom-elements-lifecycle-callbacks
  
