mixin shadow-dom-basic-usage()
  section
    h3 Shadow DOM
    +blockquote-section()
      | Shadow DOM provides encapsulation for DOM and CSS
    section
      +code-sample('shadow_dom/shadow_dom_initial.html')
    section
      +code-sample('shadow_dom/shadow_dom_js_usage.js')
    section
      +code-sample('shadow_dom/shadow_dom_result.html')
