mixin webcomponents-ingredients-summary()
  section
    h2 WebComponents Ingredients
    section
      h3 Template
      p.fragment.fade-in to separate view from the handler
    section
      h3 Shadow Dom
      p.fragment.fade-in for encapsulation and composition
    section
      h3 Custom Elements
      p.fragment.fade-in  To define custom tags    
    section
      h3 ES6s &grave;class&grave; extension
      p.fragment.fade-in Because... reasons
