mixin user-agent-status()
    section
        h3
            | But
            span.fragment.fade-in in 2011 Axel Russel proposed something :
        p.fragment.fade-in
            strong Web Components
    section
        h2 And after 6 Years
        p.fragment.fade-in Some things have changed

    section
        h2 &quot;Webcomponents&quot; was implemented by 3 from the big five
        ul
            li.fragment.fade-in Chrome - Shipped
            li.fragment.fade-in Opera  - Shipped
            li.fragment.fade-in Safari  - Shipped
            li.fragment.fade-in Firefox  - Developing
            li.fragment.fade-in IE  - Considering