include ./slides/assets/code_sample_mixin
include ./slides/assets/caniuse_mixin.pug
include ./slides/assets/blockquote_section_mixin.pug
include ./slides/assets/demo_iframe_mixin
include ./slides/01_introduction/introduction_mixin
include ./slides/02_history/history_mixin
include ./slides/03_user_agent_status/user_agent_mixin
include ./slides/04_web_components_ingredients/ingredients_mixin
include ./slides/05_polyfills/polyfills_mixin
include ./slides/06_references/references_mixin
doctype html

html(lang='de')
  head
      title Native WebComponents presentation
      meta(content='width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no', name='viewport')
      meta(charset='UTF-8')
      
  body
    .reveal
      .slides
        +introduction()
        +history()
        +user-agent-status()
        +web-components-ingredients()
        +polyfills()
        section
          h3 DEMO TIME
        section
          h3 Thank you for your time
          p Questions?
        +refereces()
          
        
    script(src="//cdn.jsdelivr.net/caniuse-embed/1.1.0/caniuse-embed.min.js")
