@import '~reveal.js/css/reveal.scss';
@import '~reveal.js/lib/css/zenburn.css';
@import './reveal/custom-theme';

@include reveal-theme();

.icon {
  width: 2em;
  height: 2em;
  vertical-align: middle;
  padding: 2px;
}