mixin svgUseSymbol(symbolRef)
  svg.icon(data-symbol-referece=JSON.stringify(symbolRef), viewBox=symbolRef.viewBox)
    title Circle
    desc // Not extracted
    g.svg-glyph-icon-wrapper
      use(xlink:href=symbolRef.symbol)
mixin icon(iconName)
  -
    var icon = require('./slides/assets/'+iconName+'.svg');
  +svgUseSymbol(icon)